boto3==1.43.50
celery[redis]==5.6.3
Django==6.0.6
django-cors-headers==4.9.0
django-environ==0.14.0
django-redis==7.0.0
django-storages==1.14.6
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
firebase-admin==7.1.0
gunicorn==26.0.0
pillow==12.3.0
psycopg[binary]==3.3.4
pygeohash==3.3.0
redis==6.4.0
whitenoise==6.12.0
